
.panel {
  background-color: #fff;
  border-color: #eee;
  border-bottom-width: 1;
  flex-direction: "JS(Constants.RTL ? 'row-reverse' : 'row')" ;
}

.title {
  width: "JS(vw * 70)";
  flex: 1;
}

.image {
  margin-top: 12;
  margin-left: 8;
  margin-right: 8;
  margin-bottom: 8;

  align-items: center;
  justify-content: center;
  position: relative;
  width: "JS(vw * 30)";
  height: "JS(vw * 30 - 20)";

  border-radius: 2;
}
 

.name {
  font-size: 14;
  margin-left: 8;
  margin-top: 12;
  margin-right: 8;
  color: #333;
  font-weight: 400;
}

.time {
  margin-left: 8;
  margin-right: 8;
  color: #999;
  font-size: 11;
  margin-bottom: 10;
  margin-top: 6;
  background-color: transparent;
}
